---
import { Image } from '@astrojs/image/components';
import htmlLogo from '@assets/images/html.svg';
import reactLogo from '@assets/images/react.svg';
import firebaseLogo from '@assets/images/firebase.svg';
import jsLogo from '@assets/images/js.svg';
import scssLogo from '@assets/images/scss.svg';
import cssLogo from '@assets/images/css.svg';
import tailwindLogo from '@assets/images/tailwindcss-icon.svg';
import astroLogo from '@assets/images/astrologo.svg';
---

<li>
	<div
		title="HTML"
		class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-full shadow-3xl duration-300 hover:scale-105 hover:transform dark:bg-[#24292f] dark:shadow-bshadow lg:h-16 lg:w-16"
	>
		<Image src={htmlLogo} alt="html logo" width={30} height={30} loading="eager" />
	</div>
</li>
<li>
	<div
		title="CSS"
		class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-full shadow-3xl duration-300 hover:scale-105 hover:transform dark:bg-[#24292f] dark:shadow-bshadow lg:h-16 lg:w-16"
	>
		<Image src={cssLogo} alt="html logo" width={30} height={30} loading="eager" />
	</div>
</li>
<li>
	<div
		title="JavaScript"
		class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-full shadow-3xl duration-300 hover:scale-105 hover:transform dark:bg-[#24292f] dark:shadow-bshadow lg:h-16 lg:w-16"
	>
		<Image src={jsLogo} alt="html logo" width={30} height={30} loading="eager" />
	</div>
</li>
<li>
	<div
		title="React"
		class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-full shadow-3xl duration-300 hover:scale-105 hover:transform dark:bg-[#24292f] dark:shadow-bshadow lg:h-16 lg:w-16"
	>
		<Image src={reactLogo} alt="html logo" width={30} height={30} loading="eager" />
	</div>
</li>
<li>
	<div
		title="SCSS"
		class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-full shadow-3xl duration-300 hover:scale-105 hover:transform dark:bg-[#24292f] dark:shadow-bshadow lg:h-16 lg:w-16"
	>
		<Image src={scssLogo} alt="html logo" width={30} height={30} loading="eager" />
	</div>
</li>
<li>
	<div
		title="Tailwind"
		class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-full shadow-3xl duration-300 hover:scale-105 hover:transform dark:bg-[#24292f] dark:shadow-bshadow lg:h-16 lg:w-16"
	>
		<Image src={tailwindLogo} alt="html logo" width={30} height={30} loading="eager" />
	</div>
</li>
<li>
	<div
		title="Firebase"
		class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-full shadow-3xl duration-300 hover:scale-105 hover:transform dark:bg-[#24292f] dark:shadow-bshadow lg:h-16 lg:w-16"
	>
		<Image src={firebaseLogo} alt="html logo" width={25} height={25} loading="eager" />
	</div>
</li>
<li>
	<div
		title="Astro"
		class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-full shadow-3xl duration-300 hover:scale-105 hover:transform dark:bg-[#24292f] dark:shadow-bshadow lg:h-16 lg:w-16"
	>
		<Image src={astroLogo} alt="html logo" width={34} height={34} loading="eager" />
	</div>
</li>
